* {
    background-color: #f8f9fa;
}
.color1 {
    background-color: #0D6EFD ;
}
.color2 {
    border-color: #343A40;
}

.color4 {
    border-color: #F8F9FA;
}
.color5 {
    background-color: #FFA500;
}